<form className="dp-forms-plans">
    <fieldset>
        <legend>Completa el siguiente formulario de alta de Usuarios</legend>
        <ul className="field-group">
            <li className="field-item">
                <label for="name">Nombre:</label>
                <input type="text" name="name" id="name" placeholder="Nombre"></li>
            <li className="field-item">
                <label for="age">Edad:</label>
                <input type="text" name="age" id="age" placeholder="Edad"></li>
            <li className="field-item">
                <label for="rol">rol:</label>
                <input type="text" name="rol" id="rol" placeholder="Rol"></li>
            <li className="field-item">
                <label for="email">Email:</label>
                <input type="email" name="email" id="email" placeholder="Email"></li>          
        </ul>

      <div className="dp-container">
            <div className="dp-rowflex">
                <div className="dp-footer-form">
                    <div className="dp-action">
                        <button type="button" className="dp-button button-medium primary-green">
                            Añadir usuario
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>